@model Shivgarjana.Models.Event.Event

<div>
    <div>
        @Html.LabelFor(m => m.Title)
        @Html.DisplayTextFor(m => m.Title)
    </div>
    <div>
        @Html.LabelFor(m => m.Description)
        @Html.DisplayTextFor(m => m.Description)
    </div>
</div>


