@model Shivgarjana.Models.Event.Event

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="accordion" href="#@Model.EventID">
            @Html.DisplayTextFor(m => m.Title)
        </a>            
        </h4>
    </div>
    <div id="@Model.EventID" class="panel-collapse collapse ">
        <div class="panel-body">
            @Html.DisplayTextFor(m => m.Description)
        </div>
    </div>
</div>


