@using Shivgarjana.Models.Event
@model IEnumerable<Event>
@{
    ViewBag.Title = "Index";
}

<h2>All events</h2>
<div class="container">
    <div id="accordion" class="panel-group">
        @foreach (var model in Model)
        {
            @Html.Partial("_EventDetails", model)
        }
    </div>  
</div>

