@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    201 Eagleview Rd<br />
    Minto NSW 2566<br />
    <abbr title="Phone">P:</abbr>
    (02) 9820 1094
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@shivgarjana.com">Support@shivgarjana.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@shivgarjana.com">Marketing@shivgarjana.com</a>
</address>